.overseer-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 26px;

  .sequence-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .sequence-grid {
      display: grid;
      grid-template-columns: repeat(5, 40px);
      border-left: 1px solid black;
      border-bottom: 1px solid black;

      .sequence-grid-cell {
        width: 40px;
        height: 40px;
        border-top: 1px solid black;
        border-right: 1px solid black;

        opacity: 0.35;

        display: flex;
        justify-content: center;
        align-items: center;

        &.action {
          opacity: 1;
        }
      }
    }
  }
}
