.game-grid {
  display: grid;
  border-left: 1px solid black;
  border-bottom: 1px solid black;

  .game-grid-cell {
    width: 40px;
    height: 40px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    transition: all 0.2s linear;
    opacity: 0.35;

    &.outOfBounds {
      background-color: rgb(245, 137, 137) !important;
      opacity: 1;
    }

    &.danger {
      opacity: 1;
    }
  }
}
